*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* ------------------------------ CARACTERISTICAS GENERALES ------------------------------ */
:root {
    /* FUENTES */
    --fuente-principal: 'Montserrat', sans-serif; 
    --fuente-firma: 'Great Vibes', cursive;
    --fuente-codigo: 'monospace', monospace;
    
    /* COLORES */
    --color-principal-oscuro: #7f976e;
    --color-principal-claro: #89a699;

    --blanco: #ffffff;
    --gris: #888;
    --fondos-claro: #e5fff3a0;
    --color-premium: #C8A165;
    --color-alternativo: #5a2f2f;

    --sombra-premium: 200, 161, 101;
    --sombra-negra: 0, 0, 0;
    --sombra-color: 127, 151, 110;
    --sombra-blanca: 255,255,255;
}

/* SECCIONES ALTERNADAS */
/* GENERAL */
.contenedor-info {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bloque-info {
    padding: 70px 20px;
    text-align: center;
    font-family: var(--fuente-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 9px; /* Espacio entre icono, titulo, texto y boton */
}

.texto-detalle {
    font-size: 1rem !important;
    margin-bottom: 5px !important;
    font-weight: 500 !important;
    max-width: 600px;
    line-height: 1.5 !important;
}

/* SECCIÓN OSCURO */
.estilo-oscuro{
    background-color: var(--color-principal-oscuro);
    color: var(--blanco);
}

.color-blanco {
    color: var(--blanco);
    font-size: 3.5rem; 
    filter: drop-shadow(0 5px 5px rgba(var(--sombra-negra),0.1)); 
}

/* SECCIÓN CLARA */
.estilo-claro{
    background-color: var(--blanco);
    color: var(--color-principal-oscuro);
    /* color al 30% */
    box-shadow: 0px 5px 15px rgba(var(--sombra-negra), 0.3);
}

.color-verde {
    color: var(--color-principal-oscuro); 
    font-size: 4rem; 
}

/* ---------------------------------------------------------------------- */




/* ------------------------------ PORTADA ------------------------------ */
#primera-p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--fondos-claro);
}

@keyframes subirAparecer {
    0% {
        opacity: 0;
        transform: translateY(50px); /* Empieza 50px abajo */
    }
    100% {
        opacity: 1;
        transform: translateY(0);    /* Termina en su lugar */
    }
}

#seccion-primera-pagina{
    text-align: center;
    font-family: var(--fuente-principal);
    color: var(--color-principal-oscuro);
    opacity: 0; 
    /* Nombre | Duración | Curva | Mantener final */
    animation: subirAparecer 1s ease-out forwards;
    animation-delay: 0.3s;
}

#seccion-primera-pagina h1{
    padding-bottom: 0.5em;
    font-size: 2rem;   
}

#seccion-primera-pagina p{
    padding-bottom: 0.5em;    
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

#boton-ingresar {
    background-color: var(--color-principal-oscuro); 
    color: var(--blanco);            
    font-family: var(--fuente-principal); 
    font-weight: 600;          
    text-transform: uppercase; 
    letter-spacing: 1px;       
    text-decoration: none;
    border-radius: 50px;
    font-size: 1em;

    padding: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    margin-top: 1em;

    display: inline-block; 
    cursor: pointer;           /* Manito al pasar el mouse */
    /* sombra de color al 40% */
    box-shadow: 0 4px 15px rgba(var(--sombra-color), 0.4);
    transition: all 0.3s ease;
}



/* TRANSICIÓN */
/* --Clase para desvanecer la portada (#primera-p) y dejar el contenido de la pagina principal--*/
.desvanecer-portada {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease, visibility 1s ease;
    position: absolute; /* Para que deje de ocupar espacio al irse */
    width: 100%;
    z-index: 10;
    pointer-events: none;
}
/* ---------------------------------------------------------------------------------------------*/



/*----------------------------- PAGINA PRINCIPAL, INICIO  ------------------------------*/

/* ------------------------------ boton musica flotante ------------------------------ */
#contenedor-musica-flotante {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.estilo-boton-float {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: var(--color-principal-oscuro);
    color: var(--blanco);
    border: none;
    box-shadow: 0 4px 10px rgba(var(--sombra-negra),0.5) !important;
    font-size: 28px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animación de ondas para el botón flotante */
.animacion-reproduccion {
    animation: pulso 2s infinite;
}

@keyframes pulso {
    0% { box-shadow: 0 0 0 0 rgba(var(--sombra-color), 0.6); } /* MODIFICAR COLOR */
    70% { box-shadow: 0 0 0 15px rgba(var(--sombra-negra), 0); }
    100% { box-shadow: 0 0 0 0 rgba(var(--sombra-negra), 0); }
}



/* -------------------- SALUDO PERSONALIZADO CON EL APELLIDO DE LA FAMILIA -------------------- */
.seccion-premium-banner {
    text-align: center;
    padding: 0 15px 20px 15px;
    margin-bottom: 40px;
    background-color: var(--color-principal-oscuro);
    box-shadow: 0px 10px 20px rgba(var(--sombra-negra), 0.08);
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px;
}
.seccion-premium-banner h2, .seccion-premium-banner p {background-color: var(--blanco); color: var(--color-principal-oscuro);}
.seccion-premium-banner h2 {
    font-family: var(--fuente-firma);
    font-size: 2.5rem;
    line-height: 1.1;
    font-weight: 400;
    padding: 2rem 0.7rem 1rem 0.7rem;
}
/* linea intermedia (arriba) */
.seccion-premium-banner p::before {
  content: "";       
  position: absolute;
  top: 0;            
  left: 50%;        
  transform: translateX(-50%); 
  
  width: 80%;        /* largo de la línea */
  height: 5px;       /* grosor de la línea */
  background-color: var(--color-principal-oscuro); 
  border-radius: 5px;
}
.seccion-premium-banner p {
    font-family: var(--fuente-principal);
    font-size: 1.4rem;
    line-height: 1.4;
    border-bottom-left-radius: 30px; 
    border-bottom-right-radius: 30px; 
    padding: 1rem 0.7rem 2rem 0.7rem;
    position: relative; 
}



/* ------------------------------ foto encabezado ------------------------------ */
.tarjeta-portada {
    background-color: var(--blanco); 
    width: 90%;       /* Ancho máximo para que parezca una tarjeta de celu */
    max-width: 450px;
    margin: 20px auto;         /* Centrar en la pantalla */
    text-align: center;
    overflow: hidden;       /* Para que nada se salga de los bordes */
}

.marco-foto {
    width: 100%;
    line-height: 0;
    /* sombra al 30%*/
    box-shadow: 0px 5px 15px rgba(var(--sombra-negra), 0.3);
}

.foto-tarjeta {
    width: 100%;
    height: 60vh;
    object-fit: cover; /* La foto se adapta sin estirarse */
    object-position: center top;
    display: block; 
}

.info-tarjeta {
    padding: 20px;
    margin-top: 1rem;
}

.info-tarjeta h2 {
    font-family: var(--fuente-principal);
    font-weight: 300; /* Letra finita */
    font-size: 1.5rem;
    color: var(--gris);   
    margin-top: 10px;
    letter-spacing: 2px;
}

.info-tarjeta strong {
    font-weight: 700;
    color: var(--color-principal-oscuro); 
}

.separador-elegante-1 {
    width: 100px;
    height: 2px;
    background-color: var(--color-principal-oscuro);
    margin: 15px auto;
}



/* ------------------------------ cuenta regresiva ------------------------------ */
.contenedor-contador {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    list-style: none;
    padding: 0;
}

.caja-tiempo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
}

.numero-tiempo {
    font-family: var(--fuente-principal);
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--color-principal-oscuro);
    line-height: 1;
}

.texto-tiempo {
    font-family: var(--fuente-principal);
    font-size: 0.7rem;
    text-transform: uppercase;
    color: var(--gris);
    margin-top: 5px;
}

.mensaje-es-hoy {
    text-align: center;
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--color-principal-oscuro);
    margin-bottom: 15px;
    letter-spacing: 2px;
    
    display: none; /* Empieza oculto */
}

.texto-latido {
    display: inline-block; /* Necesario para que el texto se pueda agrandar */
    color: var(--color-alternativo); 
    
    /* EXPLICACIÓN TÉCNICA:
       - 0.8s: Duración de la ida.
       - infinite: No para nunca.
       - alternate: Al llegar al final, vuelve hacia atrás (ida y vuelta real).
       - ease-in-out: Acelera y frena suavemente en las puntas.
    */
    animation: latido 0.5s infinite alternate ease-in-out;
}

@keyframes latido {
    /* Estado inicial (Tamaño normal) */
    from { 
        transform: scale(1); 
    }
    /* Estado final (Agrandado) */
    to { 
        transform: scale(1.15); /* Aumentamos un poquito más para que se note */
    }
}

.mensaje-es-hoy.visible {
    display: block;
}



/* ------------------------------ secciones alternadas lugar (oscuro), fecha y hora (claro) ------------------------------ */
.icono-animado-container {
    height: 80px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bloque-info h3 {
    font-weight: 700;
    letter-spacing: 2.6px;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.detalles-evento {
    margin-bottom: 15px;
    line-height: 1.6;
}

.nombre-lugar {
    font-size: 2.2rem;
    font-family: var(--fuente-firma); /* cursiva */
    margin: 10px;
}

.fechayhora {
    font-family: var(--fuente-principal);
    color: var(--gris);
    font-weight: 500;
    font-size: 1.3rem;
    letter-spacing: 2.6px;
}

.detalles-evento address {
    font-style: normal; /* Quitamos la cursiva por defecto de address */
    font-family: var(--fuente-principal);
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 2.6px;
}

/* Botón oscuro (para usar en fondo claro) */
.btn-oscuro {
    background-color: var(--color-principal-oscuro);
    color: var(--blanco);
}

/* Botón blanco (para usar en fondo oscuro) */
.btn-blanco {
    background-color: var(--blanco);
    color: var(--color-principal-oscuro);
}

/* --- ANIMACIÓN 1: BOUNCING (Para la ubicación) --- */
.icono-bouncing {
    animation: rebote 1.4s infinite ease-in-out;
}

@keyframes rebote {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-15px); } /* Sube 15px y baja */
}

/* --- TRUCO DEL CALENDARIO CON EL 20 --- */
.calendario-stack {
    position: relative; /* Para que el número se posicione respecto a esto */
    display: flex;
    justify-content: center;
    align-items: center;
}

.numero-calendario {
    position: absolute;
    top: 61%; /* Bajamos un poquito para centrar visualmente */
    left: 50%;
    transform: translate(-50%, -50%); /* Centrado matemático perfecto */
    
    font-family: var(--fuente-principal);
    font-weight: 700;
    font-size: 1.4rem;
    color: var(--color-principal-oscuro); /* El 20 del mismo color */
    letter-spacing: -1px;
}

/* --- ANIMACIÓN 2: SWING (Para el calendario) --- */
.icono-swing {
    transform-origin: top center; /* Se cuelga de arriba como un cuadro */
    animation: balanceo 3s infinite ease-in-out;
}

@keyframes balanceo {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }  /* Se inclina un poquito */
    75% { transform: rotate(-5deg); } /* Se inclina al otro lado */
    100% { transform: rotate(0deg); }
}

/* --- BOTONES MAPA --- */
.boton-mapa {
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 50px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
}

.boton-mapa:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(var(--sombra-negra),0.2);
}



/* ------------------------------ carrousel ------------------------------ */
#galeria-fotos {
    background-color: var(--blanco); 
    overflow: hidden;
}

.carrusel-marco-full {
    position: relative;
    width: 100%;
    max-width: 100%;
}

/* --- PISTA DESLIZABLE --- */
.carrusel-track-auto {
    display: flex;
    gap: 3px; /* espacio entre fotos */
    overflow-x: auto;
    scroll-snap-type: x mandatory; /*obliga a parar en cada foto */
    scroll-behavior: smooth;
    scrollbar-width: none; 
    list-style: none;
    padding: 0;
    margin: 0;
}
.carrusel-track-auto::-webkit-scrollbar { display: none; }

.slide {
    flex: 0 0 80%;
    scroll-snap-align: center; /* Se frena en el centro */
    position: relative;
}

.slide img {
    width: 100%; 
    height: 60vh; 
    object-fit: cover;
    display: block;
}

/* --- FLECHAS (Ocultas en celular) --- */
.btn-flecha {
    display: none; 
}



/* ------------------------------ secciones alternadas dresscode, link drive fotos ------------------------------ */

/* Contenedor vertical (Uno abajo del otro siempre) */
.contenedor-info-vertical {
    width: 100%;
    display: flex;
    flex-direction: column; 
}

/* Ajustes de los bloques para que ocupen todo el ancho */
.contenedor-info-vertical .bloque-info {
    width: 100%;
    padding: 60px 20px; /* Espacio interno cómodo */
    box-sizing: border-box; /* Para que el padding no rompa el ancho */
}

.separador-elegante-2{
    width: 150px;
    height: 3px;
    background-color: var(--blanco);
    margin: 0 auto 20px;
}

.texto-dresscode {
    font-size: 1.3rem !important;
    margin-bottom: 7px;
    font-weight: 500;
    max-width: 600px;
    line-height: 1.5;
    letter-spacing: 3px;
}

.nota-dresscode{
    font-family: var(--fuente-principal);
    font-size: 0.9rem;
    line-height: 1.8; /* Buen espacio entre líneas */
    text-transform: uppercase; /* Todo en mayúsculas */
    letter-spacing: 1px;
}

.nota-dresscode strong {
   background-color: var(--blanco);
   color: var(--color-principal-oscuro) !important;
   padding: 0.2rem;
   border-radius: 3px;
}

/* --- ANIMACIONES DE ICONOS --- */

/* 1. Flash (Para la cámara) */
.icono-flash {
    animation: flashCamara 2s infinite;
}
@keyframes flashCamara {
    0%, 100% { opacity: 1; transform: scale(1); }
    5% { opacity: 0.6; transform: scale(1.1); } /* Flash */
    10% { opacity: 1; transform: scale(1); }
}

/* 2. Swing (Para el Dress Code - balanceo) */
.icono-swing {
    transform-origin: top center;
    animation: balanceo 3s infinite ease-in-out;
}
@keyframes balanceo {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(10deg); }
    40% { transform: rotate(-10deg); }
    60% { transform: rotate(5deg); }
    80% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}



/* ------------------------------ formulario de confirmación ------------------------------ */
#mensaje-cantidad{
    text-align: center;
    margin: 10px 0 10px 0;
    padding: 8px;
    background-color: var(--blanco);
    color: var(--color-principal-oscuro);
    font-weight: bold;
    border-radius: 5px;
}

.formulario-rsvp {
    width: 100%;
    max-width: 500px; 
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-top: 10px;
    text-align: left;
}

.campo-form {
    display: flex;
    flex-direction: column;
}
#error-nombre{
    color: var(--color-alternativo); 
    font-size: 0.85rem; 
    display: none; 
    margin-top: 5px;
}

/* Etiquetas (Labels) */
.campo-form label {
    color: var(--blanco); 
    font-family: var(--fuente-principal);
    font-size: 0.9rem;
    margin-bottom: 8px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 5px;
}

/* Inputs, Select y Textarea */
.campo-form input,
.campo-form select,
.campo-form textarea {
    padding: 12px 15px;
    border-radius: 15px; 
    border: 2px solid transparent;
    background-color: rgba(var(--sombra-blanca), 0.95); 
    font-family: var(--fuente-principal);
    font-size: 1rem;
    color: var(--gris);
    transition: all 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

/* Efecto al escribir (Focus) */
.campo-form input:focus,
.campo-form select:focus,
.campo-form textarea:focus {
    outline: none;
    background-color: var(--blanco);
    border-color: var(--color-principal-claro); 
    box-shadow: 0 0 15px rgba(var(--sombra-blanca), 0.2);
}

/* Botón de Enviar */
.enviar-btn {
    width: 100%;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 15px;
}
#mensaje-exito{
    display:none; text-align:center; margin-top:15px; color: var(--blanco); font-weight:bold;
}



/* ------------------------------ seccion cbu ------------------------------ */
.contenedor-cbu {
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.caja-cbu {
    background-color: rgba(var(--sombra-color), 0.1); 
    border-radius: 10px;
    padding: 12px;
    margin: 5px auto;
    box-shadow: 0 10px 30px rgba(var(--sombra-negra), 0.05); 
    transition: transform 0.3s ease;
}

.caja-cbu section{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.dato-banco {
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--gris);
}

.valor-dato {
    font-size: 0.8rem;
    font-family: var(--fuente-principal); 
    color: var(--color-principal-oscuro);
    font-weight: 800;
    background: var(--blanco);
    padding: 5px;
    border-radius: 4px;
}

.boton-copiar {
    background-color: var(--color-principal-oscuro);
    color: var(--blanco);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.5rem;
    padding:  0 8px 0 8px;
    transition: transform 0.2s;
}

.boton-copiar:active {
    transform: scale(0.95);
}

.mensaje-copiado {
    color: var(--color-principal-oscuro);
    font-size: 0.8rem;
    margin-top: 10px;
    font-weight: bold;
    animation: fadeOut 2s forwards; /* Desaparece solo */
}

@keyframes fadeOut {
    0% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0; }
}



/* ------------------------------ capsula del tiempo ------------------------------ */
.estilo-premium { 
    background: var(--blanco); 
    border-top: 4px solid var(--color-premium); 
    border-bottom: 4px solid var(--color-premium);
    font-weight: bold !important;
    color: var(--blanco);
    background-color: color-mix(in srgb, var(--color-premium), transparent 20%);
    box-shadow: inset 0px 8px 8px -2px var(--sombra-premium), 
                inset 0px -8px 8px -2px var(--sombra-premium) !important;
}
.icono-grande { font-size: 3rem; margin-bottom: 15px; }
.btn-premium-fill { 
    margin-top: 1rem;
    background: var(--blanco); 
    color: var(--color-premium); 
    font-weight: 800;
    box-shadow: 0 4px 15px rgba(var(--sombra-premium), 0.4);
}
.modal-overlay {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--sombra-negra), 0.7); /* Fondo oscuro transparente */
    backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
}
.modal-contenido {
    width: 90%;
    max-width: 500px;
    padding: 30px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    margin: 10% auto; 
    animation: aparecer 0.3s ease-out;
}
@keyframes aparecer {
    from {transform: translateY(-50px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
}
.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 20px;
    color: var(--color-premium);
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.cerrar-modal:hover { color: var(--color-alternativo); }
.label-foto {
    display: inline-block;
    padding: 10px 20px;
    border: 2px dashed var(--color-premium);
    color: var(--color-premium);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}
.label-foto:hover { background-color: rgba(var(--sombra-blanca), 0.5); }
#form-capsula input[type="text"],
#form-capsula textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 15px;
    border: 1px solid var(--gris);
    border-radius: 8px; /* Bordes redondeados */
    font-family: var(--fuente-principal);
    font-size: 1rem;
    background-color: #f9f9f9;
    color: var(--gris);
    outline: none;
    transition: all 0.3s ease;
    box-sizing: border-box; /* Para que el padding no rompa el ancho */
}
#form-capsula input[type="text"]:focus,
#form-capsula textarea:focus {
    border-color: var(--color-premium); /* Se pone dorado al escribir */
    background-color: var(--blanco);
    box-shadow: 0 0 8px rgba(200, 161, 101, 0.3); /* Resplandor suave */
}
#form-capsula textarea {
    resize: none; 
}



/* ------------------------------ ultima imagen ------------------------------ */
.seccion-imagen img {
    width: 100%; 
    height: 60vh; 
    object-fit: cover;
    display: block;
}



/* ------------------------------ seccion "te esperamos" ------------------------------ */
.cierre-pagina {
    text-align: center;
    /* Un buen espacio abajo antes de la franja del footer */
    padding: 60px 20px 100px 20px !important;
}
.titulo-final {
    font-family: var(--fuente-principal);
    font-size: 2rem;
    letter-spacing: 5px;
    margin-bottom: 10px;
    color: var(--color-principal-oscuro);
    font-weight: 500;
}
.icono-latido {
    font-size: 4rem;
    display: inline-block;
    animation: latidoReal 1.3s ease-in-out infinite;
}
@keyframes latidoReal {
    0% { transform: scale(1); }
    14% { transform: scale(1.15); } /* Primer latido fuerte */
    28% { transform: scale(1); }    /* Relajación rápida */
    42% { transform: scale(1.15); } /* Segundo latido fuerte */
    70% { transform: scale(1); }    /* Relajación y pausa... */
    100% { transform: scale(1); }   /* ...hasta que empieza de nuevo */
}



/* ------------------------------ franja de color final ------------------------------ */
.footer-simple {
    background-color: var(--color-principal-oscuro);
    height: 60px; /* Altura de la franja */
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blanco);
    font-family: var(--fuente-principal);
    font-size: 0.9rem;
    letter-spacing: 2px;
}




/* --- responsive --- */
@media (min-width: 768px) {
    /* portada */    
    #boton-ingresar {padding: 1em; margin-top: 1.2em; font-size: 17px;}
    #seccion-primera-pagina h1{font-size: 1.8rem;}
    #seccion-primera-pagina p {font-size: 20px; margin-top: 0.6em;}

    /* bienvenida personalizada */    
    .seccion-premium-banner {margin-bottom: 0;}
    .seccion-premium-banner h2 {font-size: 5rem;} 
    .seccion-premium-banner p {font-size: 1.5rem; padding-top: 2rem;}

    /* foto portada */    
    .tarjeta-portada {width: 97%; max-width: 97%; margin-top: 0; margin: auto;}
    .foto-tarjeta {margin: 20px; height: auto;}
    .info-tarjeta h2 {padding-top: 1.3rem; font-size: 3rem; padding-bottom: 1rem;}

    /* cuenta regresiva */    
    .contenedor-contador {gap: 50px; margin-top: 35px; margin-bottom: 80px;}
    .numero-tiempo {font-size: 4rem;}
    .texto-tiempo {font-size: 1.2rem;}
    .info-tarjeta {margin-top: 4rem;}

    /* lugar + boton ubicacion */
    /* fecha + boton agendar*/
    .contenedor-info {display: block; margin-bottom: 20px;}
    .bloque-info {width: auto; padding: 80px 40px;}
    .nombre-lugar {font-size: 2.5rem;}

    /* carrousel */
    #galeria-fotos {padding: 10px;}
    .carrusel-marco-full{padding-bottom: 20px;}
    .carrusel-track-auto {justify-content: center; gap: 30px; padding: 10px;}
    .slide {flex: 0 0 33.333%;}
    .slide img {height: 600px;}
    /* FLECHAS VISIBLES */ .btn-flecha {display: flex; position: absolute; top: 50%; transform: translateY(-50%); z-index: 10; background-color: rgba(var(--sombra-blanca),0.9); width: 60px; height: 60px; border-radius: 50%; justify-content: center; align-items: center; font-size: 1.5rem; color: var(--color-alternativo); cursor: pointer; border: 1px solid var(--blanco); box-shadow: 0 5px 15px rgba(var(--sombra-negra),0.1); transition: all 0.3s ease;}
    .btn-flecha:hover {background-color: var(--color-principal-oscuro); color: var(--blanco);}
    .flecha-izq {left: 30px;}
    .flecha-der {right: 30px;}

    /* dresscode */
    .contenedor-info-vertical .bloque-info {padding: 100px 0;}
    .contenedor-info-vertical {box-shadow: 0px -5px 15px rgba(var(--sombra-negra), 0.3);}
    .texto-detalle {font-size: 1.3em !important;}

    /* drive fotos */
    /* confirmacion */
    .formulario-rsvp {display: grid; grid-template-columns: 1fr 1fr; gap: 20px; max-width: 1000px; margin: 0 auto; padding: 10px;}
    .full-width {grid-column: span 2 !important;}
    .campo-form label {font-weight: bold; color: var(--blanco); font-size: 0.9rem; letter-spacing: 1px;}
    .campo-form input,.campo-form select,.campo-form textarea {width: 100%; padding: 12px 15px; border-radius: 12px; border: none; font-family: inherit; font-size: 1rem; box-shadow: inset 0px 4px 6px rgba(var(--sombra-negra),0.1);}
    .campo-form textarea {resize: vertical; min-height: 100px;}
    
    /* regalos */
    .contenedor-cbu {gap: 40px; margin-top: 20px;}
    .caja-cbu {width: 400px; margin: 0; padding: 40px; text-align: center;}
    .caja-cbu:hover {transform: translateY(-5px);}
    .dato-banco {font-size: 1.2rem; margin-bottom: 20px; text-align: center;}
    .valor-dato {font-size: 1.2rem; padding: 12px; padding-left: 80px; padding-right: 80px; border-radius: 4px;}
    .boton-copiar {border-radius: 5px; font-size: 1rem; padding:  0 10px 0 10px; margin-right: 10px;}
    .mensaje-copiado {font-size: 1.2rem; margin-top: 0.5rem;}
    
    /* capsula del tiempo */
    .modal-overlay {display: none; align-items: center; justify-content: center; padding-top: 0;}
    .modal-contenido {max-width: 600px; padding: 50px; margin: auto; box-shadow: 0 15px 40px rgba(var(--sombra-negra), 0.5); border: 1px solid rgba(var(--sombra-blanca), 0.2);}
    .modal-header h3 {font-size: 2rem; margin-bottom: 10px;}
    .modal-header p {font-size: 1.1rem; margin-bottom: 30px;}
    .label-foto {padding: 15px 30px; font-size: 1rem; transition: transform 0.2s;}
    .label-foto:hover {transform: scale(1.05); background-color: var(--blanco); color: var(--color-premium);}
    #btn-enviar-capsula {width: 80%; padding: 15px; font-size: 1.1rem; margin-top: 20px; cursor: pointer;}
    /* spotify */
    /* te esperamos */
    /* franja final */
}